version: '3'

networks:
  php-rdkafka-ffi:

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:5.5.1
    ports:
      - 2181:2181
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - php-rdkafka-ffi

  kafka:
    image: confluentinc/cp-kafka:5.5.1
    ports:
      - 9092:9092
    hostname: kafka
    environment:
      KAFKA_BROKER_ID: 111
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    networks:
      - php-rdkafka-ffi

  php74:
    build:
      context: resources/docker/php74-librdkafka-ffi
    image: php74-librdkafka-ffi
    volumes:
      - .:/app
    depends_on:
      - kafka
    networks:
      - php-rdkafka-ffi

  php80:
    build:
      context: resources/docker/php80-librdkafka-ffi
    image: php80-librdkafka-ffi
    volumes:
      - .:/app
    depends_on:
      - kafka
    networks:
      - php-rdkafka-ffi
