<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         failOnWarning="true"
         cacheResult="false">
    <testsuites>
        <testsuite name="FFI RdKafka Bindings">
            <directory suffix=".php">tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <php>
        <const name="KAFKA_BROKERS" value="kafka:9092" />
        <const name="KAFKA_TEST_TOPIC" value="test" />
        <const name="KAFKA_TEST_TOPIC_PARTITIONS" value="test_partitions" />
        <const name="KAFKA_TEST_TIMEOUT_MS" value="6000" />
        <const name="KAFKA_BROKER_ID" value="111" />
    </php>
</phpunit>
