<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="resources/phpunit/bootstrap.php" colors="true" verbose="true" failOnWarning="true" cacheResult="false">
  <testsuites>
    <testsuite name="RdKafka FFI Bindings">
      <directory suffix=".php">tests/</directory>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <file>src/constants.php</file>
      <file>src/RdKafka/FFI/Methods.php</file>
      <directory suffix=".php">src/RdKafka/FFI/Versions</directory>
    </exclude>
  </coverage>
</phpunit>
